/* Custom tree icons */
.mbeanspanel .tree .tree-mbean {
	background-image: url(mbean.gif);
	background-size: 16px;
}
.mbeanspanel .tree .tree-mbean-delegate {
	background-image: url(mbeanserverdelegate.gif);
	background-size: 16px;
}
.mbeanspanel .tree .tree-content .selected .tree-label {
	color: red;
	background-color: transparent;
}

/* Bootstrap changes */
.mbeanspanel .table .form-inline {
	margin: 0;
}
.mbeanspanel .attributes.table td:first-child {
	vertical-align: middle;
}
.mbeanspanel .operations.table code {
	background-color: transparent;
	border: none;
}
.mbeanspanel .operations.table td:first-child {
	text-align: right;
	vertical-align: middle;
}
.mbeanspanel .operations.table input {
	text-align: center;
}

/* No-bootstrap style */
body:not(.bootstrap) .mbeanspanel [class*=span] {
	display: inline-block;
	vertical-align: top;
	margin-left: 1em;
}
body:not(.bootstrap) .mbeanspanel .table-striped tr:nth-child(2n) {
	background-color: whitesmoke;
}
body:not(.bootstrap) .mbeanspanel .nav.nav-tabs {
	border-bottom: 1px solid #ddd;
	margin-left: 0;
	list-style: none;
}
body:not(.bootstrap) .mbeanspanel .nav.nav-tabs > li {
	margin-bottom: -1px;
	display: inline-block;
}
body:not(.bootstrap) .mbeanspanel .nav.nav-tabs > li > a {
	display: block;
	padding: 8px;
}
body:not(.bootstrap) .mbeanspanel .nav.nav-tabs > li.active > a {
	color: #555;
	border: 1px solid #ddd;
	border-radius: 4px 4px 0 0;
	border-bottom-color: white;
}

/* Modal window */
.wicket-modal .result-output {
	white-space: pre-wrap;
}