.mbeanview .tree {
	padding: 0 1em 1em 1em;
	border: 1px solid silver;
	display: inline-block;
}
.mbeanview .tree .tree-mbean {
	background-image: url(mbean.gif);
	background-size: 16px;
}
.mbeanview .tree .tree-mbean-delegate {
	background-image: url(mbeanserverdelegate.gif);
	background-size: 16px;
}
.mbeanview .tree .tree-content .selected .tree-label {
	color: red;
	background-color: transparent;
}

.mbeanview .view {
	display: inline-block;
	border: 1px solid silver;
	vertical-align: top;
}
.mbeanview .view .tab-row ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid silver;
	display: table;
	width: 100%;
}
.mbeanview .view .tab-row ul li {
	display: table-cell;
	overflow: hidden;
}
.mbeanview .view .tab-row ul li.selected {
	background-color: whitesmoke;
}
.mbeanview .view .tab-row ul li:not(.last) {
	border-right: 1px solid silver;
}
.mbeanview .view .tab-row ul a {
	display: block;
	padding: .2em .4em;
	text-decoration: none;
	width: 100%;
}
.mbeanview .view .tab-panel {
	padding: .5em;
}
.mbeanview .view .tab-panel .operations pre {
	display: inline-block;
	margin: 0;
}
.mbeanview .view .tab-panel .operations form {
	margin: 0;
}
.mbeanview .view .tab-panel .operations td:first-child {
	text-align: right;
}
.mbeanview .view .tab-panel .operations input {
	height: 1.2em;
	border-width: 1px;
	vertical-align: middle;
	text-align: center;
}

.wicket-modal .result-output {
	white-space: pre-wrap;
}